<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384412785920-qgkr110s4uu9d444ah358ldmvvtgkp3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384412785920-qgkr110s4uu9d444ah358ldmvvtgkp3i</string>
	<key>API_KEY</key>
	<string>AIzaSyDOYGLr-6OUUmqeUG3Kkv-ir9roj2OeMwE</string>
	<key>GCM_SENDER_ID</key>
	<string>384412785920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGui</string>
	<key>PROJECT_ID</key>
	<string>flutter-catalog-18829</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-catalog-18829.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384412785920:ios:61608585051d95c5d1e7e5</string>
</dict>
</plist>